@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .my-shadow-b {
    --tw-shadow: 0 2px 0 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .my-shadow-r {
    --tw-shadow: 2px 0 0 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .dark-my-shadow-b {
      --tw-shadow: 0 2px 0 0 #414040;
      --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .dark-my-shadow-r {
      --tw-shadow: 2px 0 0 0 #414040;
      --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out normal; 
}

.text-logo {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

::-webkit-scrollbar {
  width: 5px; 
  height: 8px; 
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease;
  background-color: #fff; 
  border-radius: 4px; 
}

.chatList:hover::-webkit-scrollbar-thumb {
  background-color: #cecece;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bebdbd;
}



.messages-container::-webkit-scrollbar {
  width: 5px; 
  height: 8px; 
  max-height: 50px;
}

.messages-container::-webkit-scrollbar-track {
  background-color: transparent;
  max-height: 50px;
}

.messages-container::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease;
  background-color: transparent; 
  border-radius: 4px; 
  max-height: 50px;
}

.messages-container:hover.messages-container::-webkit-scrollbar-thumb {
  background-color: rgba(40, 150, 80, 0.6);
  max-height: 50px;
}

.text_area::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease;
  background-color: #bebdbd; 
  border-radius: 4px; 
}